<%- include("header"); -%>

<div class="container">
    <div class="row">
        <div class="col-md-6 main-container">
            <form action="/" method="POST">
                <label class="city-label" for="">Please enter the City Name CORRECTLY: </label>
                <br>
                <input class="cityName-input" type="text" name="cityName" id="" placeholder="Enter a City">
                <br>
                <button class="btn btn-secondary btn-lg our-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<hr class="border">

<%- include("footer"); -%>
