<%- include("header"); -%>

    <div class="container">
        <div class="row">
            <div class="col-md-6 main-container">
                <hr>
                <h2 class="heading-fourth"> <%= kanyeQuote %> </h2>
                <hr>
                <h3 class="heading-fifth">- Kanye West</h3>
                <form action="/home" method="POST">
                    <button class="our-button" type="submit">Search for another City</button>
                </form>
            </div>
        </div>
    </div>

<%- include("footer"); -%>
